<div style="margin: auto; width: 20%; text-align: center;">
    <table>
      <tr>
        <td>User name:</td>
        <td><input type="text" id="username" class="form-control" placeholder="Enter user name" [(ngModel)]="username"></td>
      </tr>
      <tr>
          <td>Email:</td>
          <td><input type="email" id="email" class="form-control" placeholder="Enter email" [(ngModel)]="email"></td>
        </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" id="password" class="form-control" placeholder="Enter password" [(ngModel)]="password"></td>
      </tr>
      <tr>
        <td colspan="2"><button class="btn btn-primary" (click)="signup()">Sign up</button></td>
      </tr>
      <tr>
        <td colspan="2"><button class="btn btn-primary" (click)="navigateToLogin()">Login</button></td>
      </tr>
    </table>
  </div>
  