<div id="searchTerms">
  <input type="text" class="form-control" id="cityName" placeholder="City name" [(ngModel)]="cityName"><br>
  <ngb-datepicker #dp (select)="onDateSelection($event)" [minDate]="minDate" [maxDate]="maxDate" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>
    
    <ng-template #t let-date let-focused="focused">
      <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
        </span>
    </ng-template><br>
    <button class="btn btn-primary" (click)="findHotels()">Search</button>
</div>
<div id="searchResult" style="text-align: left">
  <div id="{{hotel._id}}" class="card" style="margin-bottom: 1em;" *ngFor="let hotel of hotels">
      <div class="card-body">
        <h3 class="card-title">{{hotel.name}}</h3>
        City: {{hotel.city}}<br>
        HOTEL FACILITIES:<br>
        <span class="badge badge-dark" style="margin-right: .25em;" *ngFor="let feature of hotel.extraFeatures">{{feature}}</span><br>
        Stars: <ngb-rating [(rate)]="hotel.stars" [readonly]="true" [max]="5"></ngb-rating><br>
        User ratings: <ngb-rating [(rate)]="hotel.userRatings" (rateChange)="rate(hotel, authDiagContent)" [max]="5"></ngb-rating><br>
        Available rooms:
        <hr>
        <div id="{{room._id}}" *ngFor="let room of hotel.rooms">
          <button class="btn btn-primary" style="float: right" (click)="reserve(hotel._id, room._id, authDiagContent)" *ngIf="room.remaining > 0">Reserve</button>
          Number of beds: {{room.numberOfBeds}}<br>
          Price per night: {{room.price}}$<br>
          ROOM FACILITIES:<br>
          <span class="badge badge-secondary" style="margin-right: .25em;" *ngFor="let feature of room.extraFeatures">{{feature}}</span><br>
          Still available:
          <span class="badge badge-success" *ngIf="room.remaining > 0">{{room.remaining}}</span>
          <span class="badge badge-danger" *ngIf="room.remaining === 0">{{room.remaining}}</span><br>
          <hr>
        </div>
      </div>
  </div>
</div>
